<p>This bolt was added for visualization purposes only. Route to <a href="https://printmedia.herokuapp.com/screw1">/screw1</a> or <a href="https://printmedia.herokuapp.com/screw2">/screw2</a> to see a prototype implementation of the QR code design.</p>
